body {
  margin: 20px;
}
h1 {
font-size: 1.5em;
}
h2 {

}

img {
    max-width: 100%;
}

figure {
    margin: 0;
    margin-bottom: 20px;
}

p {
  font-size: 1.2em;
}

@media screen and (min-width: 1000px) {
  body {
    background-color: aqua;
    margin: 25px;
    max-width: 70%;
  }

  p {
    font-size: 1em;
  }
}